extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= projects.project_name

        p.lead.text-light= projects.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        each tech in technologies
          li= tech

        a.button.expanded(href=`${projects.live_link}`) Live Demo
        a.button.expanded(href=`${projects.github_link}`) GitHub Repo
    
    each image in image_urls
      img.image(src=`${image}`)